# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo

# ================================
# Virtual Environment
# ================================
.venv/
venv/
env/

# ================================
# Environment / Secrets
# ================================
.env
.env.*
!.env.example

# ================================
# IDE
# ================================
.vscode/
.idea/

# ================================
# Streamlit
# ================================
.streamlit/secrets.toml

# ================================
# Logs
# ================================
*.log

# ================================
# CatBoost
# ================================
catboost_info/

# ================================
# MLflow
# ================================
mlruns/
mlflow.db

# ================================
# Python Cache
# ================================
.pytest_cache/
.mypy_cache/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# Temporary Files
# ================================
tmp/
temp/

# ================================
# Trained Models
# ================================
*.pkl
*.joblib

# ================================
# Datasets
# ================================
*.csv
*.xlsx
*.xls